<nav class="login">
  <ul class="cf">
    <% if user_signed_in? %>
      <li>
        <%= link_to 'My Profile', edit_user_registration_path %>
      </li>
      <li>
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to 'Sign In', new_user_session_path  %>
      </li>
      <li>
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
    <% end %>
      <li>
        <%= link_to 'Feedback', 'https://trello.com/board/cardiff-collective/505e3f6040376cd93ec5f398', class: 'feedback' %>
      </li>
  </ul>
</nav>