<section class="user new">
  <h2>Sign Up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <span class="required">* Required</span>

    <fieldset>
      <legend>Your Details</legend>

      <div class="field">
        <%= f.label :first_name, class: 'required' %>
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
        <%= f.label :last_name, class: 'required' %>
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :bio, 'About you', class: 'required' %>
        <%= f.text_area :bio, placeholder: '140 characters' %>
      </div>

      <div class="field">
        <%= f.label :website %>
        <%= f.url_field :website, placeholder: 'http://' %>
      </div>

      <div class="field">
        <%= f.label :company %>
        <%= f.text_field :company, placeholder: 'Example Ltd' %>
      </div>
    </fieldset>

    <fieldset>
      <legend>Your Skills</legend>

      <div class="field">
        <%= f.label :skill_list, "What are you good at?" %>
        <%= f.text_field :skill_list, placeholder: 'Web Design, Programming, Drawing' %>
      </div>

      <div class="field">
        <%= f.label :learning_list, "What do you want to know more about?" %>
        <%= f.text_field :learning_list, placeholder: 'Art, Photography, Business' %>
      </div>
    </fieldset>

    <fieldset>
      <legend>Your Account</legend>

      <div class="field">
        <%= f.label :email, class: 'required' %>
        <%= f.email_field :email, placeholder: 'you@example.com' %>
      </div>

      <div class="field">
        <%= f.label :password, class: 'required' %>
        <%= f.password_field :password, placeholder: 'supersecret' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: 'required' %>
        <%= f.password_field :password_confirmation, placeholder: 'supersecret' %>
      </div>
    </fieldset>

    <div class="field actions">
      <%= f.submit "Sign Up" %>
    </div>

  <% end %>

  <%= render "links" %>
</section>
