<aside id="intro" class="cf">
  <h2>Can you help with&hellip;</h2>
  <ul class="tags">
    <% @learnings.each do |tag| %>
      <li><%= link_to tag, tag_path(tag), class: 'tag' %></li>
    <% end %>
    <li><%= link_to raw('See all tags &rarr;'), all_tags_path, class: 'tag' %></li>
  </ul>

</aside>

<article class="users">
  <h1>People in Cardiff</h1>
  <header>
    <ol class="index cf">
      <% ("A".."Z").each do |letter| %>
        <li><%= link_to letter, "##{ letter.downcase }" %></li>
      <% end %>
    </ol>
  </header>

  <% @users_letters.each do |letter, users| %>
    <h2 id="<%= letter.downcase %>" class="index-letter"><%= letter.upcase %></h2>

    <ol class="user-list cf">
      <% users.each do |user| %>
        <li class="user">
          <%= gravatar_image_tag user.email, alt: user.name, class: 'avatar', gravatar: { size: 80 } %>
          <%= link_to raw("<div>#{ user.first_name }</div><div>#{ user.last_name }</div>"), user_path(user) %>
        </li>
      <% end %>
    </ol>
  <% end %>
</article>