<article class="user">
  <header>
    <%= gravatar_image_tag @user.email, alt: @user.name, class: 'avatar' %>
    <h1 class="name"><%= @user.name %></h1>
    <%= link_to @user.website, @user.website, class: 'website' %>
    <span class="company"><%= @user.company %></span>
  </header>

  <section id="bio" class="bio">
    <p><%= @user.bio %></p>
  </section>

  <section id="skills">
    <div class="skills core">
      <h1 class="title">I know a bit about:</h1>
      <ul class="tags">
        <% @user.skills.each do |tag| %>
          <li><%= link_to tag, tag_path(tag), class: 'tag' %></li>
        <% end %>
      </ul>
    </div>

    <div class="skills desired">
      <h1 class="title">I want to know more about:</h1>
      <ul class="tags">
        <% @user.learning.each do |tag| %>
          <li><%= link_to tag, tag_path(tag), class: 'tag' %></li>
        <% end %>
      </ul>
    </div>
  </section>

  <footer class="contact">
    <% if current_user == @user %>
      <%= link_to 'Find people who share your interests', tags_path %>
    <% elsif user_signed_in? %>
      <h1>Contact <%= @user.first_name %></h1>
      <%= form_tag contact_user_path(@user) do %>

        <div class="field">
          <%= text_area_tag :message, '', placeholder: "Your message to #{ @user.first_name }" %>
        </div>

        <div class="field actions">
          <%= submit_tag 'Send Message' %>
        </div>

      <% end %>
    <% else %>
      <h1>Contact <%= @user.first_name %></h1>
      <p><%= link_to 'Sign In', new_user_session_path %> to contact <%= @user.name %>.</p>
    <% end %>
  </footer>
</article>
