<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Cardiff Collective</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrap">

  	<header id="banner" class="cf">
  	  <div class="logo">
    		<h1 class="mark"><%= link_to 'Cardiff Collective', root_url %></h1>
    		<span class="strapline">Connect with creative people in Cardiff</span>
    	</div>
      <%= render partial: 'devise/menu/login_items' %>
  	</header>

  	<div id="main" class="cf">
  	  <%= render partial: 'shared/flash', object: flash %>
      <%= yield %>
    </div>

    <footer id="footer" class="cf">
      <%= link_to 'Feedback', 'http://garethrees.lighthouseapp.com/projects/99460-cardiffcollective/overview', class: 'feedback' %>
    </footer>

  </div>

</body>
</html>
